@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    list-style-position: inside;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.navbar, .header {
    background-color: black;
    color: white;
}

.section {
    border: 5px solid black;
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
}

.content {
    background-color: lightblue;
}

.flex-container {
    display: flex;
    background-color: lightblue;
}

.flex-column {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}

img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    padding: 0;
}

h1, h2, h3, p, li {
    padding: 15px;
}