* {
    list-style-position: inside;
    line-height: 20px;
    margin: 0px;
}

h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: lightgreen;
}

img {
    height: 75vh;
    width: 100vw;
    object-fit: cover;
    display: block;
}

a {
    font-weight: bolder;
}

ul, ol {
    padding: 0;
}

h3, p, li {
    background-color: lightblue
}

h1, h2, h3, p, li {
    padding: 15px;
}